.wrapper {
  &__count {
    color: white;
    margin-bottom: 16px;
  }

  &__form {
    position: relative;

    &_inp {
      &:hover {
        transform: scale(1) !important;
      }
    }

    &_submit {
      top: 1px;
      right: 0;
      max-width: 120px;
      position: absolute;

      &:hover {
        transform: scale(1) !important;
      }
    }
  }

  &__list {
    gap: 12px;
    display: flex;
    margin-top: 35px;
    overflow-x: auto;
    padding-bottom: 35px;
    flex-direction: column;
    height: calc(60vh - -44px);

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      box-shadow: inset 0 0 5px grey;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #0077c8;
    }
  }
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    gap: 12px;
    display: flex;
    height: min-content;

    &_text {
      color: white;

      &_completed {
        color: grey;
      }
    }
  }

  &__inp {
    height: 44px;

    &:hover {
      transform: scale(1) !important;
    }

    &_container {
      height: 44px;
      max-width: calc(100% - 175px);
    }
  }

  &__buttons {
    gap: 10px;
    display: flex;
    padding-right: 12px;

    &_btn {
      min-width: 67px;
    }
  }
}
